/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-mar-2017, 12:12:25
    Author     : Javier Argente Mic칩
*/


/*Para que el pie de p치gina este fijo siempre al final*/
html {
    position: relative; 
    min-height: 100%;
}

/***************  menu  ***********/

* {
    padding: 0px;
}

#menu {
    /*margin: auto;*/
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -16px;
    /*position: fixed;*/
}

ul, lo {
    list-style: none;
}

.nav li a {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    display: block;
}

.nav li a:hover {
    background-color: grey;
}

.nav > li {
    float: left;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover > ul {
    display: block;
}

/*----------------------------------------------*/

td{
    margin: 15px;
    padding: 15px;
}

div.principal{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 920px;
}

div.menu{
    margin: auto;
    margin-left: -10px;
    margin-right: -8px;
    height: 38px;
    background-color: black;
}

body{
    background-image: url(../Imagenes/fondo1.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    
    margin: 0 0 52px ;     /*Para que el pie de p치gina este fijo siempre al final*/
}

html{
    text-align: center;
}

#pie {
    background-color: #176CCD;
    
    /*Para que el pie de p치gina este fijo siempre al final*/
    width: 100.51%; 
    bottom: 0;
    position: absolute;
    height: 52px;
    /*El 0.51 extra de width es para que no quede el hueco vacio al lado*/
    
    /*Para que funcoine comentar todo lo que hace que el pie de pagina este fijo abajo*/
    /*margin-left: -8px;
    width: 100%;
    height: 40px;
    bottom: 0;
    position: fixed;*/
}

table{
    background-color: rgba(249,249,153,0.65);
    border-collapse: collapse;
    /*opacity: 0.8;
    filter: Alpha(opacity=80);*/
}